<% provide(:title, "Comentários | ")%>
<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<% @comments.each do |comment| %>
  <div class="container">
    <p>Autor: <%= comment.user.name %></p>
    <p>Artigo: <%= comment.article.title %></p>
    <p>Conteúdo: <%= comment.content %></p>
    
    <div class="inline">
      <p><%= link_to 'Show', comment %></p>
      <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
      <p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <hr>
  </div>
<% end %>

<%= link_to 'New Comment', new_comment_path %>