<p id="notice"><%= notice %></p>

<h1>Comment</h1>

<p>
  <strong>Autor:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Artigo:</strong>
  <%= @comment.article.title %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @comment.content %>
</p>

<div class="center">
  <%= link_to 'Edit', edit_comment_path(@comment) %> |
  <%= link_to 'Back', comments_path %>
</div>
