<% if @disliked %>
  <%= link_to "Descurtiu #{@article.dislike_articles.count}", dislike_article_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% else %>
  <%= link_to "Descurtir #{@article.dislike_articles.count}", dislike_article_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% end %>