<% provide(:title, "Artigos | ")%>
<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<% @articles.each do |article| %>
  <div class="container">
    <p>Autor: <%= article.user.name %></p>
    <p>Título: <%= article.title %></p>
    <p>Conteúdo: <%= article.content %></p>
    
    <div class="inline">
      <p><%= link_to 'Show', article %></p>
      <p><%= link_to 'Edit', edit_article_path(article) %></p>
      <p><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <hr>
  </div>
<% end %>

<%= link_to 'New Article', new_article_path %>