<p id="notice"><%= notice %></p>

<h1>Article</h1>

<p>
  <strong>Autor:</strong>
  <%= @article.user.name %>
</p>

<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<%= image_tag(@article.photo_url)  if @article.photo.present? %>

<p>
  <strong>Conteúdo:</strong>
  <%= @article.content %>
</p>

<%= render 'like' %>
<%= render 'dislike' %>

<div class="comment">
  <% @comments.each do |comment| %>
    <hr>
    
    <div class="inline">
      <p><%= comment.user.name + ":" %></p>
      <p><%= comment.content %></p>
    </div>
    <p><%= link_to "Editar", edit_comment_article_path(comment) %></p>
    
    <hr>
  <% end %>
</div>

<div class="want-comment">
  <%= form_for @comment, url: :comment_article do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Comentar" %>
  <% end %>
</div>

<div class="center">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
