<%= form_for @user, url: @user.persisted? ? user_edit_path : user_new_path do |f| %>

    <% if current_user && current_user == @user || !@user.persisted? %>
        Nome: <%= f.text_field :name %><br/>
        Email: <%= f.text_field :email %><br/>
        Foto: <%= f.file_field :profile_photo %><br/>
        Senha: <%= f.password_field :password %><br/>
        Confirmação de Senha: <%= f.password_field :password_confirmation %><br/>
    <% end %>
    
    <% if current_user && current_user.admin %>
        Gerador de Conteúdo: <%= f.check_box :feeder %><br/>
    <% end %>
    
    <%= f.submit "Enviar" %>
  
<% end %>