<% provide(:title, "CRUD USER | ")%>
<p id="notice"><%= notice %></p>

<h1>Users Admin</h1>

<table id="users_adm">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Feeder?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.feeder %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', user_edit_path(user) %></td>
        <td><%= link_to 'Destroy', user_destroy_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
  <%= will_paginate @users %>
</div>

<script>
  $('#users_adm').DataTable({});
</script>