<h1>User</h1>

<p>Nome: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Foto: <%= image_tag(@user.profile_photo_url)  if @user.profile_photo.present? %></p>

<%= link_to "Editar Usuário", user_edit_path(@user) %>
<hr>