/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
	background-color: #ededed;
}

h1,h2,h3{
	line-height:1.2;
}

p{
	margin: 0;
}

a{
	color: #4BA2DB;
}

a:hover{
	color: #2980b9;
}

img {
  display: block;
  max-width: 100%;
}

header::after {
	content:"";
	display: block;
	width: 20px;
	height: 3px;
	background: #9a9a9a;
	margin: 30px auto 0 auto;
}

@media (max-width: 700px){
	body {
		max-width: 550px;
	}

	h1,h2,h3{
		text-align: center;
	}

	p {
		text-align: justify;
	}
}

header h3 {
  text-align: center;
}

form {
	font-weight: bold;
}

form input[type="text"], form input[type="password"] {
	background: #ededed;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: #9a9a9a;
}

form input[type="submit"] {
	font-weight: bold;
	border-style: solid;
	background: #ededed;
	border-color: #444;
	margin: 10px 0;
	transition: 0.2s;
}

form input[type="submit"]:hover {
	background: #444;
	color: #ededed;
	border-color: #444;
	transition: 0.2s;
}

form textarea {
	resize: none;
	background: #ededed;
	margin: 10px 0;
	width: 625px;
	height: 290px;
}

table tbody tr td {
	background: #ededed;
}

.container{
	margin: 10px 0;
}

.inline p{
	display: inline-block;
}

.menu a{
	margin: 0 20px 0 0;
}

.comment {
	margin: 40px 0;
}

.want-comment {
	margin-top: 30px;
}

.want-comment input[type="text"]{
	width: 500px;
}

.center {
	text-align: center;
}

.alert-login {
	text-align: center;
	margin-top: 20px;
}