<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>Sistema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>Especialização de Back-end | IN Junior</h3>
      
      <section class="menu center">
        <%= link_to 'Usuários', users_path %>
        <%= link_to 'Novo Usuário', user_new_path %>
        <%= link_to 'Artigos', articles_path %>
        <%= link_to 'Comentários', comments_path %>
      </section>
      
      <% if logged_in? %>
        <p class="alert-login">Você está logado! <%= current_user.name %> <%=link_to "Logout", logout_path, method: :delete %></p>
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
